@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}


/* HEADER */
header {
    background-color: rgb(98, 57, 37);
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.img-logo {
    height: 64px;
    width: 64px;
    border-radius: 15px;
}

.barra-navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(245, 235, 220);
}

.barra-navegacao a {
    list-style: none;
    text-decoration: none;
    color: rgb(245, 235, 220);
}

.lista {
    display: flex;
    list-style: none;
    gap: 8px;
}

.agora {
    font-weight: 800;
}



/* FOOTER */
.rodape {
    display: flex;
    height: 150px;
    background-color: rgb(56, 30, 17);
    color: rgb(245, 235, 220);
    justify-content: flex-end;
    justify-content: space-around;
    align-items: center;

}

.rodape a {
    text-decoration: none;
    color: rgb(245, 235, 220);

}

.img-footer {
    height: 128px;
    width: 128px;
    border-radius: 30px;
}

.rodape .final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.github {
    width: 18px;
}



/* BODY INDEX */

.home {
    background-image: url('../assets/imgs/fundo.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
}

.home .home-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(245, 235, 220);
}

.home-texto p {
    text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
}

.home-texto .p1 {
    font-size: 2rem;
}

.home-texto .p2 {
    font-size: 1.5rem;
    font-style: italic;
}


/* BODY CADASTRO */

body {
    background-color: rgb(245, 235, 220);
}

.cadastro-corpo {
    display: flex;
    margin: 50px;
    justify-content: center;
    height: 405px;
}

.cadastro-img {
    width: 50%;
}

.cadastro-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.cadastro-informacoes {
    width: 50%;
    background: linear-gradient(to right, #422b1b, #83502c);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.cadastro-informacoes h1 {
    text-align: center;
    font-size: 50px;
    display: flex;
    color: rgb(245, 235, 220);
}

.cadastro-informacoes h5,
a {
    color: rgb(245, 235, 220);
    font-weight: normal;
    margin-bottom: 3px;
}

.ipts {
    display: flex;
    margin-bottom: 10px;
}

.input {
    border: 2px solid #272727;
    text-align: center;
    border-radius: 5px;
    margin: 0;
    height: 30px;
    width: 300px;
    background-color: rgb(245, 235, 220);
}

.inputt {
    background-color: rgb(245, 235, 220);
    border: 2px solid #272727;
    text-align: center;
    border-radius: 5px;
    margin: 0;
    height: 30px;
    width: 150px;
}

.select {
    background-color: rgb(245, 235, 220);
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0px;
    height: 30px;
    width: 300px;
    border: 2px solid #272727;
}

#ipt_naipe {
    margin-top: 10px;
}

.botao {
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background-color: #d17e10;
    width: 120px;
    height: 30px;
    align-self: center;
    margin-top: 10px;
}

/* SOBRE MIM */

.home-sobremim {
    background-image: url("../assets/sobre-mim/camerata-1.jpg");
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
}


.me-principal {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-inline: 73px;
    box-sizing: border-box;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.3);
}


.me-img {
    padding: 0px;
    padding-right: 0px;
}

.me-img img {
    width: 118%;
    height: auto;
    object-fit: contain;
    border-radius: 35px;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.9);
}

.me-informacoes-card {
    font-size: 27px;
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 210px;
    gap: 5px;
    color: rgb(245, 235, 220);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 35px;
    text-align: center;
}

.me-informacoes {
    /* background-color: #4b3a30; */
    background: linear-gradient(to right, #422b1b, #83502c);
    color: rgb(245, 235, 220);
    padding: 60px;
    font-size: 18px;
    border-top: 5px inset rgb(245, 235, 220);
    /* border-bottom: 5px outset rgb(245, 235, 220); */
    display: flex;
    gap: 50px;
    text-align: justify;
}

.me-informacoes p {
    background-color: rgba(49, 34, 19, 0.5);
    padding: 15px;
    border-radius: 25px;
    text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
}


/* fotos e videos */
.videos2 {
    background-color: #4b3a30;
    border-top: 5px inset rgb(245, 235, 220);
    border-bottom: 5px outset rgb(245, 235, 220);
    display: flex;
    justify-content: center;
}

.videos2-menor {
    width: 85%;
}

#h1vid2 {
    color: rgb(245, 235, 220);
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* vid2 */
.i-vid2 {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.i-vid2 img {
    border-radius: 35px;
    height: 300px;
    width: auto;
}

.i-vid2 video {
    border-radius: 35px;
}

/* vid-center */
.i-vid-center {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.i-vid-center img {
    height: auto;
    width: 100%;
    border-radius: 35px;
}

.i-vid-center video {
    border-radius: 35px;
}

.i-vid-recital {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.i-vid-recital img {
    height: auto;
    width: 60%;
    border-radius: 35px;
}

.video-amigos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.video-amigos video {
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}





/* CARDS CADASTRO */

.card {
    width: 50%;
    background-color: #e5e5e5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: palevioletred;
    flex-direction: column;
    height: fit-content;
    padding: 20px 0;
}

.card h2 {
    margin: 0;
    font-size: 30px;
}

.card_erro {
    display: none;
    background-color: #fff9eb;
    color: rgb(56, 33, 4);
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #d17e10 3px solid;
    padding: 10px;
    margin-right: 10%;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
}

#div_erros_login {
    display: none
}

/* .loading-div {
    width: 50px;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
} */

.loading-div {
    width: 50px;
    margin: auto;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}



/* index info e curiosidades */
.informacoes {
    background-color: #4b3a30;
    border-top: 5px inset rgb(245, 235, 220);
    border-bottom: 5px outset rgb(245, 235, 220);
}

.cards {
    display: flex;
    justify-content: space-around;
}

.informacoes h1 {
    color: rgb(245, 235, 220);
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    margin: 15px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
}

.flip-card .flip-card-back {
    transform: rotateY(-180deg);
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-card-back,
.flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    backface-visibility: hidden;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flip-card-front {
    background-color: rgb(245, 235, 220);
    color: #333;
}

.flip-card-back {
    background-color: #333;
    color: rgb(245, 235, 220);
}




/* index fotos */

.index-fotos {
    padding: 50px;
    /* background-color: #6f4d37; */
    background: linear-gradient(to right, #422b1b, #83502c);
    color: rgb(245, 235, 220);
    font-size: 30px;
}

.index-fotos h3 {
    text-align: center;
    margin-bottom: 30px;
}


.fotos-card {
    display: flex;
    justify-content: space-between;
    white-space: normal;
}

.i-card img {
    width: 300px;
    border-radius: 25px;
    margin-bottom: 45px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

#deitada,
#deitada2,
#deitada3 {
    width: 400px;
}


/* VIDEOS */
.videos {
    background-color: #4b3a30;
    border-top: 5px inset rgb(245, 235, 220);
    border-bottom: 5px outset rgb(245, 235, 220);
}

#h1vid {
    color: rgb(245, 235, 220);
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

.i-vid {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.i-vid h4 {
    margin-top: 15px;
    margin-bottom: 10px;
    color: rgb(245, 235, 220);
}

.i-vid iframe {
    margin-bottom: 25px;
    border-radius: 30px;
}