* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    background-color: rgb(98, 57, 37);
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.img-logo {
    height: 64px;
    width: 64px;
    border-radius: 15px;
}

.barra-navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(245, 235, 220);
}

.barra-navegacao a {
    list-style: none;
    text-decoration: none;
    color: rgb(245, 235, 220);
}

.lista{
    display: flex;
    list-style: none;
    gap: 8px;
}

.agora {
    font-weight: 800;
}


/* BODY */

.home {
    background-image: url('../assets/imgs/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
}

.home .home-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}


/* FOOTER */
.rodape{
    display: flex;
    height: 150px;
    background-color: rgb(56, 30, 17);
    color: rgb(245, 235, 220);
    justify-content: flex-end;
    justify-content: space-around;
    align-items: center;
    
}


.rodape a{
text-decoration: none;
color: rgb(245, 235, 220);

}

.img-footer {
    height: 128px;
    width: 128px;
    border-radius: 30px;
}
.rodape .final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}